{% extends "home2.html" %}

{% block content %}
<div style="text-align: center; background-color: rgba(255, 255, 255, 0.95); padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); margin: auto; max-width: 800px;">
    <h2>{{ report_title }}</h2>

    <form method="GET" action="" style="margin: 20px 0;">
        <input type="text" name="q" placeholder="Search by Student Name" value="{{ request.GET.q }}" style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
        <button type="submit" style="padding: 5px 10px; background-color: #00f2ffcb; color: rgb(15, 14, 14); border: none; border-radius: 5px;">Search</button>
    </form>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% elif certificates %}
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
            <thead>
                <tr style="background-color: #fdffffd4; color: rgb(7, 6, 6);">
                    <th style="padding: 10px; border: 1px solid #ddd;">StudentName(ID)</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Certificate Type</th>
		    <th style="padding: 10px; border: 1px solid #ddd;">Status</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Issue Date</th>
                </tr>
            </thead>
            <tbody>
                {% for certificate in certificates %}
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ certificate.student }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ certificate.certificateType }}</td>
		    <td style="padding: 10px; border: 1px solid #ddd;">{{ certificate.status }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ certificate.issueDate|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No certificates found.</p>
    {% endif %}
 <br>
    <button onclick="window.print();" style="padding: 5px 10px; background-color: #28a745; color: white; border: none; border-radius: 5px;">Print Report</button>

    <a href="{% url 'certificate_report' %}" style="padding: 10px 15px; background-color: #007bff; color: white; border-radius: 5px; text-decoration: none;">View All Records</a>
    <a href="{% url 'certificate_list' %}" style="padding: 10px 15px; background-color: #007bff; color: white; border-radius: 5px; text-decoration: none;">Back</a>
</div>
</div>
{% endblock %}
